@namespace Sparrow.Modules.Main

<div class="layout">
    <div class="layout-header">
        <AppMenu Roots="@_menuItems" Click="@OnMenuClick" />
    </div>
    <div class="layout-body">
        <div direction="horizontal" class="layout">
            <div class="layout-left">Left</div>
            <div class="layout-body">
                <AppTabbed/>
            </div>
            <div class="layout-right">Right</div>
        </div>
    </div>
    <div class="layout-footer">Footer</div>
</div>
